.secao-header {
	padding: 3rem 1rem;
	& .container-header {
		display: flex;
		justify-content: flex-start;
	}
	& .caixaheader {
		display: flex;
		gap: 3rem;
		&__img {
			width: 15rem;
		}
		&__nav {
			display: flex;
			gap: 2rem;
			align-items: center;
		}
		&__tags {
			text-decoration: none;
			font-weight: 500;
			color: inherit;
		}
		&__containIcons {
			width: 50rem;
			display: flex;
			justify-content: flex-end;
		}
	}
}
