* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.4;
	font-size: 1.5rem;
}

.secao {
	padding: 5rem 2rem;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
}

a,
svg {
	cursor: pointer;
}
